<section class="section gallery">
  <div class="container gallery_container">
    <img class="gallery_img" srcset=" images/gallery.jpg 320w,
                  images/gallery2.jpg 640w,
                  images/gallery-tab.jpg 768w,
                  images/gallery-tab2.jpg 1536w,
                  images/gallery-desk.jpg 1280w,
                  images/gallery-desk2.jpg 2560w" src="images/gallery.jpg" alt="галерея картинок с мороженым"
      sizes=" (min-width: 1280px) 1280px, (min-width: 768px) 768px, 320px">
  </div>
</section>